{% extends "base.html" %}

{% block title %}{{ object.title }} - {{ _('Newsletter') }} - {{ SITE_LONG_NAME }}{% endblock %}
{% block content_title %}{{ _('Newsletter:') }} {{ object.title }}{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ url('newsletter_subscribe_request', object.slug) }}">{{ _('Subscribe') }}</a></li>
        <li><a href="{{ url('newsletter_unsubscribe_request', object.slug) }}">{{ _('Unsubscribe') }}</a></li>
        <li><a href="{{ url('newsletter_archive', object.slug) }}">{{ _('Archive') }}</a></li>
        <li><a href="{{ url('newsletter_list') }}">{{ _('Back to list') }}</a></li>
    </ul>
{% endblock %}
