{% extends "base.html" %}
{% block title %}{{ object.title }} - {{ _('Newsletter Archive') }} - {{ SITE_LONG_NAME }}{% endblock %}
{% block content_title %}{{ _('Newsletter Archive:') }} {{ object.title }}{% endblock %}

{% block body %}
    <ul>
        {% for submission in latest %}
            <li><a href="{{ submission.get_absolute_url }}">{{ submission }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <p><a href="{{ url('newsletter_list') }}">{{ _('Back to list') }}</a></p>
{% endblock %}
