{% block media %}
    <style>
        h4 {
            padding-top: 1em;
        }

        .social {
            display: inline;
            font-size: 2.3em;
            float: none;
        }

        .google-icon i {
            color: #DD4B38;
        }

        .facebook-icon i {
            color: #133783;
        }

        .github-icon i {
            color: black;
        }

        .social-login {
            display: inline;
        }

        button.social, button.social:hover, button.social:active {
            background: none;
            border: 0;
            padding: 0;
            line-height: inherit;
            vertical-align: baseline;
            display: inline;
        }
    </style>
{% endblock %}

{% if oauth.has_google_auth or oauth.has_facebook_auth or oauth.has_github_auth %}
    {% if request.path == url('registration_register') %}
        <h4>{{ _('Sign up with Gmail') }}</h4>
    {% else %}
        <h4>{{ _('Or log in with...') }}</h4>
    {% endif %}
    <div>
        {% if next is not defined %}
            {% set next = '' %}
        {% endif %}
        {% if oauth.has_google_auth %}
            <form action="{{ url('social:begin', "google-oauth2") }}" method="post" class="social-login">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social google-icon" title="Google">
                    <i class="fa fa-google-plus-square"></i>
                </button>
            </form>
        {% endif %}
        {% if oauth.has_facebook_auth %}
            <form action="{{ url('social:begin', "facebook") }}" method="post" class="social-login">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social facebook-icon" title="Facebook">
                    <i class="fa fa-facebook-square"></i>
                </button>
            </form>
        {% endif %}
        {% if oauth.has_github_auth %}
            <form action="{{ url('social:begin', "github-secure") }}" method="post" class="social-login">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social github-icon" title="Github">
                    <i class="fa fa-github-square"></i>
                </button>
            </form>
        {% endif %}
    </div>
{% endif %}
