<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ _('Subscription to') }} {{ newsletter.title }}</title>
</head>
<body>
{{ _('Dear %(name)s,', name=subscription.name) }}

{{ _('you, or someone in your name requested a subscription to %(title)s.', title=newsletter.title) }}

{{ _('If you would like to confirm your subscription, please follow this activation link:') }}
http://{{ site.domain }}{{ subscription.subscribe_activate_url }}

{{ _('Kind regards,') }}
{{ newsletter.sender }}
</body>
</html>
